@charset "UTF-8";
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.no-list, .colors, .list--definition {
  padding: 0;
  margin: 0;
  list-style: none; }

._left {
  float: left; }

._right {
  float: right; }

._circle-img, .feature-icon, .cards img, .resource img {
  border-radius: 50%;
  overflow: hidden; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  font-family: 'GT-Walsheim-Pro-Light';
  font-size: 18px; }
  @media (max-width: 1023px) {
    body {
      font-size: 16px; } }
  @media (max-width: 767px) {
    body {
      font-size: 14px; } }

.blue-border {
  border-top: 10px solid #0047FF;
  border-left: 10px solid #0047FF;
  border-right: 10px solid #0047FF;
  height: 100%; }

.container {
  height: inherit;
  padding: 50px;
  margin-left: 240px; }
  @media (max-width: 1023px) {
    .container {
      margin-left: 0px;
      padding: 0; } }

.header {
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #eee; }

.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 240px;
  padding: 30px;
  color: #585858;
  font-size: 16px;
  background-color: #000; }
  .side-bar .logo span {
    color: #fff; }
  .side-bar .nav {
    padding-left: 20px; }
  .side-bar .nav a, .side-bar .nav .show-more label, .show-more .side-bar .nav label {
    color: inherit;
    line-height: 40px;
    text-decoration: none; }
    .side-bar .nav a:target, .side-bar .nav .show-more label:target, .show-more .side-bar .nav label:target {
      color: #fff; }
  @media (max-width: 1023px) {
    .side-bar {
      transform: translate3d(-240px, 0, 0); } }

section {
  padding: 50px 0; }

.border-wrap {
  position: relative;
  padding: 50px 30px 30px 30px;
  margin-top: 50px;
  border: 1px solid #eee;
  background-color: #fff; }
  .border-wrap:before {
    position: absolute;
    content: attr(data-type);
    top: -20px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #eee; }
  .border-wrap--dark {
    background-color: #5A6987;
    border: none; }

h1, h2, h3, h4 {
  font-weight: normal; }

h1 {
  font-size: 5.5555555556em;
  font-family: 'GT-Walsheim-Pro-Bold';
  color: #0047FF;
  line-height: 110%; }

@keyframes wavy {
  0% {
    transform: skewX(10deg) skewY(-10deg) scaleX(1) scaleY(0.8); }
  50% {
    transform: skewX(-10deg) skewY(10deg) scaleX(0.8) scaleY(1); }
  100% {
    transform: skewX(10deg) skewY(-10deg) scaleX(1) scaleY(0.8); } }
h2 {
  font-size: 2.7777777778em;
  font-family: 'GT-Walsheim-Pro-Medium'; }

h3 {
  font-size: 1.6666666667em;
  font-family: 'GT-Walsheim-Pro-Medium'; }

h4 {
  font-size: 1em;
  font-family: 'GT-Walsheim-Pro-Bold';
  text-transform: uppercase; }

h5 {
  font-family: 'GT-Walsheim-Pro-Medium';
  font-size: 14px;
  color: #7B8AA7;
  text-transform: uppercase; }

p {
  font-size: 18px;
  color: #5A6987; }

p b {
  font-weight: normal;
  font-family: 'GT-Walsheim-Pro-Medium';
  color: #3F4A5F; }

p.detail {
  font-size: 16px;
  color: #7B8AA7; }

p.micro {
  font-size: 14px;
  color: #7B8AA7; }

p.sub-heading {
  font-family: 'GT-Walsheim-Pro-Light';
  font-size: 1.6666666667em;
  color: #7B8AA7; }

a, .show-more label {
  text-decoration: none;
  transition: all 0.25s ease; }
  a:hover, .show-more label:hover {
    text-decoration: underline; }

a.green-link, .show-more label.green-link {
  color: #1BD357; }

a.nav-link, .show-more label.nav-link {
  font-family: 'GT-Walsheim-Pro-Medium';
  font-size: 18px;
  color: #5A6987; }
  a.nav-link--border, .show-more label.nav-link--border {
    position: relative; }
    a.nav-link--border:hover:before, .show-more label.nav-link--border:hover:before {
      opacity: 1; }
    a.nav-link--border:before, .show-more label.nav-link--border:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -20px;
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      border: 1px solid #0047FF;
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.25s ease; }
  a.nav-link:hover, .show-more label.nav-link:hover {
    color: #0047FF;
    text-decoration: none; }

.notification-text {
  display: inline-block;
  font-size: 1.3333333333em;
  margin-bottom: 30px; }

.colors {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }
  .colors li {
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-right: 15px; }
    .colors li .color-block {
      width: 120px;
      height: 120px;
      margin-bottom: 15px; }
    .colors li .color-title,
    .colors li .color-hex {
      display: block; }
    .colors li .color-title {
      font-weight: bold; }
    .colors li .color-hex {
      color: #999; }

.btn {
  display: inline-block;
  font-family: 'GT-Walsheim-Pro-Light', 'Helvetica Neue';
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.25s ease; }
  .btn--secondary {
    color: #fff;
    background-color: #CBD1DC;
    border: none; }
    .btn--secondary:hover {
      background-color: #bcc4d2; }
    .btn--secondary:focus {
      outline: none;
      box-shadow: 0 0 0 3px white; }
  .btn--main {
    color: #fff;
    background-color: #0047FF;
    border: none; }
    .btn--main:hover {
      background-color: #0040e6; }
    .btn--main:focus {
      outline: none;
      box-shadow: 0 0 0 3px #99b5ff; }
  .btn--main--ghost {
    border: 1px solid #0047FF;
    color: #0047FF;
    background-color: #fff; }
    .btn--main--ghost:hover {
      border: 1px solid #0040e6;
      color: #0040e6; }
    .btn--main--ghost:focus {
      outline: none;
      box-shadow: 0 0 0 3px #99b5ff; }
  .btn--confirm {
    color: #fff;
    background-color: #1BD357;
    border: none; }
    .btn--confirm:hover {
      background-color: #18bc4e; }
    .btn--confirm:focus {
      outline: none;
      box-shadow: 0 0 0 3px #96f2b4; }
  .btn--confirm--ghost {
    border: 1px solid #1BD357;
    color: #1BD357;
    background-color: #fff; }
    .btn--confirm--ghost:hover {
      border: 1px solid #18bc4e;
      color: #18bc4e; }
    .btn--confirm--ghost:focus {
      outline: none;
      box-shadow: 0 0 0 3px #96f2b4; }
  .btn--small {
    padding: 0px 25px;
    height: 40px;
    line-height: 40px;
    font-size: 0.8888888889em; }
  .btn--big {
    padding: 0px 40px;
    height: 60px;
    line-height: 60px;
    font-size: 1em; }

input[type="text"], select {
  display: block;
  height: 60px;
  padding: 0 15px;
  border: 1px solid #CBD1DC;
  border-radius: 3px;
  background-color: #fff;
  font: inherit;
  outline: none;
  transition: all 0.25s ease; }
  input[type="text"]:focus, select:focus {
    border: 1px solid #0047FF;
    box-shadow: inset 0 0 0 1px #0047FF; }
  @media (min-width: 769px) {
    input[type="text"], select {
      min-width: 300px; } }
  @media (max-width: 767px) {
    input[type="text"], select {
      min-width: none;
      width: 100%; }
      input[type="text"] + button, select + button {
        margin-top: 15px; } }

.input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px; }

.checkbox-group input[type="checkbox"] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #CBD1DC;
  transition: background-color 0.25s ease; }
.checkbox-group input[type="checkbox"]:focus {
  outline: none;
  border: 1px solid #0047FF;
  box-shadow: 0 0 0 1px #6691ff; }
.checkbox-group input[type="checkbox"] + label {
  position: relative;
  margin-left: 15px;
  line-height: 45px;
  vertical-align: bottom; }
.checkbox-group input[type="checkbox"]:checked {
  background-color: #0047FF;
  border: 1px solid #0047FF; }
  .checkbox-group input[type="checkbox"]:checked + label:before {
    content: "✓";
    position: absolute;
    left: -42px;
    top: -8px;
    color: #fff;
    pointer-events: none; }

.radio-group {
  display: flex;
  flex-flow: row; }
  .radio-group--images img {
    display: block;
    width: 100%;
    margin-bottom: 30px; }
  @media (max-width: 767px) {
    .radio-group--images {
      flex-flow: row;
      text-align: left;
      flex-wrap: wrap; }
      .radio-group--images .radio-button {
        width: 50%; } }
  .radio-group--images label {
    width: 100%; }
    @media (min-width: 769px) {
      .radio-group--images label {
        text-align: left; } }
    @media (max-width: 767px) {
      .radio-group--images label {
        margin: -2px; } }
    @media (min-width: 481px) {
      .radio-group--images label {
        padding: 30px; } }
    @media (max-width: 479px) {
      .radio-group--images label {
        padding: 15px; } }
  .radio-group--text label {
    padding: 15px 50px;
    width: 100%; }
  @media (max-width: 767px) {
    .radio-group--text {
      flex-flow: column;
      text-align: center; } }

.radio-button input[type="radio"] {
  display: none; }

.radio-button label {
  display: inline-block;
  margin: 0;
  background-color: #fff;
  border: 1px solid #CBD1DC;
  font-size: 1em;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.25s ease;
  overflow: hidden; }

.radio-button input[type="radio"]:checked + label {
  color: #0047FF;
  border: 1px solid #0047FF;
  box-shadow: inset 0 0 0 2px #0047FF; }

select {
  -webkit-appearance: none;
  background: url("../assets/images/downcaret.svg") no-repeat right #fff;
  background-position-x: 90%; }
  select:after {
    content: "Mug"; }

.table {
  display: table;
  width: 100%; }

.thead,
.trow {
  display: table-row;
  width: 100%; }

.thead {
  font-size: 14px;
  font-family: 'GT-Walsheim-Pro-Bold';
  text-align: left;
  text-transform: uppercase; }
  .thead div {
    display: table-cell;
    padding: 30px 0;
    border-top: 1px solid #CBD1DC;
    border-bottom: 1px solid #CBD1DC; }

.trow {
  position: relative; }
  .trow div:not(.broker-details) {
    display: table-cell;
    padding: 30px 0;
    border-bottom: 1px solid #F3F4F7; }
  .trow input {
    display: none; }
    .trow input:checked + label {
      display: block; }
      .trow input:checked + label ~ .broker-details {
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 30px;
        background-color: #F3F4F7;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }

.show-more label {
  color: #0047FF;
  cursor: pointer; }

.broker-details {
  display: none; }

.list {
  padding-right: 0;
  list-style-type: none; }
  .list li {
    position: relative; }
  .list--numbered {
    margin-left: 50px; }
    .list--numbered li {
      counter-increment: step-counter; }
    .list--numbered li + li {
      margin-top: 70px; }
    .list--numbered li:before {
      content: counter(step-counter);
      position: absolute;
      left: -100px;
      font-size: 5.5555555556em;
      line-height: 72px;
      font-family: 'GT-Walsheim-Pro-Bold';
      color: #1F4097;
      padding: 3px 8px;
      border-radius: 3px; }
    @media (max-width: 1023px) {
      .list--numbered {
        margin-left: 30px; }
        .list--numbered li:before {
          left: -80px;
          line-height: 65px; } }
    @media (max-width: 1023px) {
      .list--numbered li:before {
        line-height: 55px; } }
    @media (max-width: 479px) {
      .list--numbered {
        margin-left: 0; }
        .list--numbered li:before {
          position: static;
          line-height: 55px; } }
  .list--bulleted li {
    counter-increment: step-counter; }
    .list--bulleted li + li {
      margin-top: 70px; }
    .list--bulleted li:before {
      content: "●";
      position: absolute;
      left: -50px;
      font-size: 25px;
      line-height: 20px;
      font-family: 'GT-Walsheim-Pro-Bold';
      color: #1F4097;
      padding: 3px 8px;
      border-radius: 3px; }
    @media (max-width: 479px) {
      .list--bulleted li:before {
        content: ""; } }
  .list--definition {
    list-style: none; }
    .list--definition .label {
      color: #A3ADC2; }
    .list--definition li {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .list--definition li + li {
      margin-top: 15px; }
    @media (min-width: 681px) {
      .list--definition {
        max-width: 50%; } }
  @media (max-width: 479px) {
    .list {
      margin-left: 0;
      padding: 0;
      margin: 0; } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  line-height: 80px;
  border-bottom: 1px solid #CBD1DC; }
  @media (max-width: 767px) {
    .header {
      background-color: #0047FF; } }

.logo {
  font-family: 'GT-Walsheim-Pro-Bold'; }

.navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none; }
  .navigation li {
    margin-left: 40px; }
  .navigation li.separate-right {
    margin-right: 0px; }
    .navigation li.separate-right a, .navigation li.separate-right .show-more label, .show-more .navigation li.separate-right label {
      color: #A3ADC2; }
    .navigation li.separate-right:after {
      content: "|";
      color: #CBD1DC;
      margin-left: 40px; }

.faq-wrapper {
  width: 330px;
  padding: 30px;
  background-color: #F6F5F1;
  overflow: hidden; }
  @media (max-width: 479px) {
    .faq-wrapper {
      width: 100%; } }

.faq .question,
.faq .answer {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px; }
.faq .answer {
  display: none;
  margin-top: 10px;
  transform: translateX(330px);
  transition: 0.3s cubic-bezier(0, 0, 0, 1);
  opacity: 0; }
.faq + .faq {
  margin-top: 20px; }
.faq input[type="checkbox"] {
  display: none; }
.faq label {
  display: block;
  background-color: #fff;
  padding: 10px 15px;
  margin-left: 0;
  font-size: 16px;
  color: #0047FF;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer; }

.faq input[type="checkbox"]:checked + label {
  color: #fff;
  background-color: #0047FF; }
  .faq input[type="checkbox"]:checked + label + .answer {
    display: block;
    transform: translateX(0px);
    opacity: 1; }

.promo {
  display: flex;
  flex-flow: row;
  justify-content: space-between; }
  .promo--feature {
    align-items: center;
    padding: 30px;
    border: 10px solid #CBD1DC; }
    .promo--feature p {
      flex-grow: 1; }
    @media (max-width: 767px) {
      .promo--feature {
        flex-direction: column;
        align-items: stretch; } }
  .promo--action {
    align-items: top;
    border: 10px solid #F3F4F7; }
    .promo--action h3 {
      margin-top: 0; }
    .promo--action p {
      flex-grow: 1;
      margin-bottom: 0;
      margin-right: 30px; }
    @media (max-width: 767px) {
      .promo--action p {
        margin-bottom: 30px; }
      .promo--action h3 {
        margin-top: 30px; } }
  .promo--signup {
    background-color: #F6F5F1; }
    .promo--signup p {
      margin-top: 0; }
  .promo--estimate {
    background-color: #c3f7d4; }
    .promo--estimate p {
      margin-right: 30px; }
  .promo--resiliency-profile {
    background-color: #0047FF; }
    .promo--resiliency-profile p {
      color: #fff; }
  .promo--warning {
    align-items: top;
    background-color: #fddee6; }
    .promo--warning span {
      color: #F11E54;
      margin-right: 30px; }
    .promo--warning p {
      margin: 0; }
  .promo .content-container {
    flex-grow: 2; }

.feature-icon {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 50px; }
  .feature-icon img {
    width: 100%; }

.button-field {
  display: flex;
  flex-direction: row; }
  .button-field input {
    flex-grow: 2; }
  .button-field button {
    margin-left: 15px; }

.in-profile, .promo--action, .promo--signup, .promo--resiliency-profile {
  max-width: 900px;
  padding: 50px; }
  @media (max-width: 767px) {
    .in-profile, .promo--action, .promo--signup, .promo--resiliency-profile {
      flex-direction: column;
      padding: 30px; }
      .in-profile .button-field, .promo--action .button-field, .promo--signup .button-field, .promo--resiliency-profile .button-field {
        flex-direction: column; }
      .in-profile p, .promo--action p, .promo--signup p, .promo--resiliency-profile p {
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 30px; } }
@media (min-width: 480px) and (max-width: 767px) {
  .in-profile button, .promo--action button, .promo--signup button, .promo--resiliency-profile button {
    margin-left: 0; } }

  @media (max-width: 479px) {
    .in-profile, .promo--action, .promo--signup, .promo--resiliency-profile {
      padding: 30px; }
      .in-profile button, .promo--action button, .promo--signup button, .promo--resiliency-profile button {
        margin-top: 0px;
        margin-left: 0; } }

.main-well, .promo--estimate, .promo--warning {
  max-width: 900px;
  padding: 30px; }
  @media (max-width: 767px) {
    .main-well, .promo--estimate, .promo--warning {
      flex-direction: column;
      padding: 30px; }
      .main-well p, .promo--estimate p, .promo--warning p {
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 30px; } }

.cards {
  display: flex;
  flex-direction: row; }
  .cards .card {
    max-width: 280px;
    margin-right: 30px;
    padding: 30px;
    border: 10px solid #F3F4F7; }
  .cards p {
    margin-bottom: 0; }
@media (min-width: 481px) and (max-width: 1024px) {
  .cards {
    flex-direction: column;
    padding: 0px; }
    .cards .card {
      display: flex;
      flex-direction: row;
      max-width: none;
      margin-right: 0;
      margin-bottom: 30px; }
    .cards img {
      flex-shrink: 0;
      margin-right: 30px; }
    .cards h3 {
      margin-top: 0; } }

  @media (max-width: 480px) {
    .cards {
      flex-direction: column;
      padding: 0px; }
      .cards .card {
        display: flex;
        flex-direction: column;
        max-width: none;
        margin-right: 0;
        padding: 30px;
        margin-bottom: 15px; }
      .cards img {
        margin-bottom: 15px; } }

.resources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  @media (max-width: 1023px) {
    .resources {
      flex-wrap: wrap; } }
  @media (max-width: 680px) {
    .resources {
      flex-direction: column; } }

.resource {
  width: 25%;
  padding: 50px;
  text-align: center;
  background-color: #fff; }
  @media (min-width: 1025px) {
    .resource + .resource {
      margin-left: 30px; } }
  @media (max-width: 1024px) {
    .resource {
      display: flex;
      flex-direction: row;
      text-align: left; }
      .resource img {
        width: 70px;
        height: 70px;
        flex-shrink: 0; }
      .resource p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30px; } }
  @media (max-width: 768px) {
    .resource {
      padding: 30px;
      text-align: left; } }
@media (min-width: 681px) and (max-width: 1024px) {
  .resource {
    width: calc(50% - 15px); }
    .resource:nth-child(2n) {
      margin-left: 30px; }
    .resource:nth-child(1), .resource:nth-child(2) {
      margin-bottom: 30px; } }

  @media (max-width: 680px) {
    .resource {
      width: 100%;
      margin-bottom: 15px; } }

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #0047FF;
  overflow: hidden; }
@keyframes moveWave {
  0% {
    transform: translate3d(-3px, 0, 0); }
  100% {
    transform: translate3d(-87px, 0, 0); } }
  .loader img {
    margin-top: 2px;
    animation: moveWave 1s linear infinite; }

@keyframes bob {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(-10deg); }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(10deg); }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(-10deg); } }
.buoy img {
  width: 80px;
  transform-origin: center 90%;
  animation: bob 2s ease-in-out infinite; }

@font-face {
  font-family: "GT-Walsheim-Pro-Light";
  src: url("fonts/GT-Walsheim-Pro-Light.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Light.woff2") format("woff2"), url("fonts/GT-Walsheim-Pro-Light.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Light.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Light.svg#GT-Walsheim-Pro-Light") format("svg"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Medium";
  src: url("fonts/GT-Walsheim-Pro-Medium.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Medium.woff2") format("woff2"), url("fonts/GT-Walsheim-Pro-Medium.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Medium.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Medium.svg#GT-Walsheim-Pro-Medium") format("svg"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("fonts/GT-Walsheim-Pro-Bold.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Bold.woff2") format("woff2"), url("fonts/GT-Walsheim-Pro-Bold.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Bold.svg#GT-Walsheim-Pro-Bold") format("svg"); }
@font-face {
  font-family: "Linearicons-free";
  src: url("fonts/Linearicons-free.eot?") format("eot"), url("fonts/Linearicons-free.woff2") format("woff2"), url("fonts/Linearicons-free.woff") format("woff"), url("fonts/Linearicons-free.ttf") format("truetype"), url("fonts/Linearicons-free.svg#Linearicons-free") format("svg"); }
