@charset "UTF-8";
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.no-list, .colors, .list--definition {
  padding: 0;
  margin: 0;
  list-style: none; }

._left {
  float: left; }

._right {
  float: right; }

._circle-img, .feature-icon, .resource img {
  border-radius: 50%;
  overflow: hidden; }

._loadin {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
  animation: loadin 0.5s cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-fill-mode: forwards; }
@keyframes loadin {
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0); } }
.wrapper {
  padding-top: 80px; }
  .wrapper.blue-border {
    border-left: 10px solid #0047FF;
    border-right: 10px solid #0047FF;
    height: auto; }

.wrapper.question-wrapper {
  height: 100%;
  overflow: hidden; }
  .wrapper.question-wrapper .container-rail {
    height: 100%; }
  @media (max-width: 767px) {
    .wrapper.question-wrapper {
      overflow: auto; }
      .wrapper.question-wrapper .container-rail {
        height: auto; } }

.sub-section {
  border-bottom: 1px solid #CBD1DC;
  padding-bottom: 50px; }
  .sub-section + .sub-section {
    padding-top: 50px; }
  .sub-section .cards {
    margin-top: 50px; }

.container-rail {
  display: flex;
  flex-direction: row; }
  @media (max-width: 767px) {
    .container-rail {
      flex-direction: column; } }

.content {
  width: 100%;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 50px; }
  @media (max-width: 767px) {
    .content {
      padding: 30px; } }

.question-container {
  width: 100%; }
  .question-container .question {
    display: none; }
  .question-container .question:first-child {
    display: block; }
  .question-container .radio-group {
    animation-delay: .05s; }
  @media (min-width: 768px) {
    .question-container {
      padding: 50px 50px 200px 50px;
      overflow-y: scroll; } }
  @media (max-width: 767px) {
    .question-container {
      padding: 30px;
      overflow-y: auto; } }

.button-footer {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  padding: 20px 0px;
  background-color: #fff;
  border-top: 1px solid #F3F4F7; }
  @media (min-width: 768px) {
    .button-footer {
      width: calc(100% - 640px); } }
  @media (max-width: 767px) {
    .button-footer {
      left: 0;
      width: 100%;
      padding: 10px; } }

h1, h2, h3, h4 {
  font-weight: normal; }

h1 {
  font-size: 5.5555555556em;
  font-family: 'GT-Walsheim-Pro-Bold';
  color: #0047FF;
  line-height: 110%; }

@keyframes wavy {
  0% {
    transform: skewX(2deg) skewY(-2deg) scaleX(1) scaleY(0.95); }
  50% {
    transform: skewX(-2deg) skewY(2deg) scaleX(0.95) scaleY(1); }
  100% {
    transform: skewX(2deg) skewY(-2deg) scaleX(1) scaleY(0.95); } }
h2 {
  font-size: 2.7777777778em;
  font-family: 'GT-Walsheim-Pro-Medium'; }

h3 {
  font-size: 1.6666666667em;
  font-family: 'GT-Walsheim-Pro-Medium'; }

h4 {
  font-size: 1.3333333333em;
  font-family: 'GT-Walsheim-Pro-Medium'; }

h5 {
  font-size: 1em;
  font-family: 'GT-Walsheim-Pro-Bold';
  text-transform: uppercase; }

h6 {
  font-family: 'GT-Walsheim-Pro-Medium';
  font-size: 14px;
  color: #3F4A5F;
  text-transform: uppercase; }

p {
  font-size: 20px;
  max-width: 640px;
  color: #3F4A5F; }
  p.sub-heading {
    max-width: 900px;
    font-family: 'GT-Walsheim-Pro-Light';
    font-size: 1.6666666667em;
    color: #5A6987; }
  p.detail {
    font-size: 18px;
    max-width: 900px;
    color: #7B8AA7; }
  p.micro {
    font-size: 16px;
    color: #7B8AA7; }

p b {
  font-weight: normal;
  font-family: 'GT-Walsheim-Pro-Medium';
  color: #3F4A5F; }

a, .show-more label {
  text-decoration: none;
  cursor: pointer;
  color: #0047FF;
  transition: all 0.25s ease; }
  a:hover, .show-more label:hover {
    text-decoration: underline; }

a.green-link, .show-more label.green-link {
  color: #1BD357; }

a.nav-link, .show-more label.nav-link {
  font-family: 'GT-Walsheim-Pro-Medium';
  font-size: 18px;
  color: #5A6987; }
  a.nav-link--border, .show-more label.nav-link--border {
    position: relative; }
    a.nav-link--border:hover:before, .show-more label.nav-link--border:hover:before {
      opacity: 1; }
    a.nav-link--border:before, .show-more label.nav-link--border:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -20px;
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      border: 1px solid #0047FF;
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.25s ease; }
  a.nav-link:hover, .show-more label.nav-link:hover {
    color: #0047FF;
    text-decoration: none; }

.colors {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }
  .colors li {
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-right: 15px; }
    .colors li .color-block {
      width: 120px;
      height: 120px;
      margin-bottom: 15px; }
    .colors li .color-title,
    .colors li .color-hex {
      display: block; }
    .colors li .color-title {
      font-weight: bold; }
    .colors li .color-hex {
      color: #999; }

.btn {
  display: inline-block;
  font-family: 'GT-Walsheim-Pro-Light', 'Helvetica Neue';
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.25s cubic-bezier(0.52, 0.01, 0.16, 1), transform 0.1s cubic-bezier(0.52, 0.01, 0.16, 1); }
  .btn:active {
    transform: translate3d(0, 2px, 0); }
  .btn--secondary {
    color: #fff;
    background-color: #CBD1DC;
    border: none; }
    .btn--secondary:hover {
      background-color: #bcc4d2; }
    .btn--secondary:disabled {
      background-color: #CBD1DC;
      cursor: not-allowed; }
    .btn--secondary:focus {
      outline: none;
      box-shadow: 0 0 0 3px white; }
  .btn--secondary--ghost {
    border: 1px solid #CBD1DC;
    color: #CBD1DC;
    background-color: #fff;
    color: #5A6987; }
    .btn--secondary--ghost:hover {
      border: 1px solid #bcc4d2;
      color: #bcc4d2; }
    .btn--secondary--ghost:disabled {
      border: 1px solid #CBD1DC;
      cursor: not-allowed;
      color: #CBD1DC; }
    .btn--secondary--ghost:focus {
      outline: none;
      box-shadow: 0 0 0 3px white; }
  .btn--main {
    color: #fff;
    background-color: #0047FF;
    border: none; }
    .btn--main:hover {
      background-color: #0040e6; }
    .btn--main:disabled {
      background-color: #CBD1DC;
      cursor: not-allowed; }
    .btn--main:focus {
      outline: none;
      box-shadow: 0 0 0 3px #99b5ff; }
  .btn--main--ghost {
    border: 1px solid #0047FF;
    color: #0047FF;
    background-color: #fff; }
    .btn--main--ghost:hover {
      border: 1px solid #0040e6;
      color: #0040e6; }
    .btn--main--ghost:disabled {
      border: 1px solid #CBD1DC;
      cursor: not-allowed;
      color: #CBD1DC; }
    .btn--main--ghost:focus {
      outline: none;
      box-shadow: 0 0 0 3px #99b5ff; }
  .btn--confirm {
    color: #fff;
    background-color: #1BD357;
    border: none; }
    .btn--confirm:hover {
      background-color: #18bc4e; }
    .btn--confirm:disabled {
      background-color: #CBD1DC;
      cursor: not-allowed; }
    .btn--confirm:focus {
      outline: none;
      box-shadow: 0 0 0 3px #96f2b4; }
  .btn--confirm--ghost {
    border: 1px solid #1BD357;
    color: #1BD357;
    background-color: #fff; }
    .btn--confirm--ghost:hover {
      border: 1px solid #18bc4e;
      color: #18bc4e; }
    .btn--confirm--ghost:disabled {
      border: 1px solid #CBD1DC;
      cursor: not-allowed;
      color: #CBD1DC; }
    .btn--confirm--ghost:focus {
      outline: none;
      box-shadow: 0 0 0 3px #96f2b4; }
  .btn--small {
    padding: 0px 25px;
    height: 40px;
    line-height: 40px;
    font-size: 0.8888888889em; }
  .btn--big {
    padding: 0px 40px;
    height: 60px;
    line-height: 60px;
    font-size: 1em; }

input[type="text"], select {
  display: block;
  height: 60px;
  padding: 0 15px;
  border: 1px solid #CBD1DC;
  border-radius: 3px;
  background-color: #fff;
  font: inherit;
  outline: none;
  transition: all 0.25s ease;
  -webkit-appearance: none; }
  input[type="text"]:focus, select:focus {
    border: 1px solid #0047FF;
    box-shadow: inset 0 0 0 1px #0047FF; }
  input[type="text"]:invalid, select:invalid {
    border: 1px solid #F11E54; }
  input[type="text"]:disabled, select:disabled {
    border: 1px solid #CBD1DC;
    cursor: not-allowed; }
  @media (min-width: 769px) {
    input[type="text"], select {
      min-width: 300px; } }
  @media (max-width: 767px) {
    input[type="text"], select {
      min-width: none;
      width: 100%; }
      input[type="text"] + button, select + button {
        margin-top: 15px; } }
  input[type="text"] + label, select + label {
    margin-top: 30px; }

.input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px; }

.checkbox-group input[type="checkbox"] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #CBD1DC;
  transition: background-color 0.25s ease; }
.checkbox-group input[type="checkbox"]:focus {
  outline: none;
  border: 1px solid #0047FF;
  box-shadow: 0 0 0 1px #6691ff; }
.checkbox-group input[type="checkbox"] + label {
  position: relative;
  margin-left: 15px;
  line-height: 45px;
  vertical-align: bottom; }
.checkbox-group input[type="checkbox"]:checked {
  background-color: #0047FF;
  border: 1px solid #0047FF; }
  .checkbox-group input[type="checkbox"]:checked + label:before {
    content: "✓";
    position: absolute;
    left: -42px;
    top: -8px;
    color: #fff;
    pointer-events: none; }

.radio-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 16px; }
  .radio-group--images img {
    display: block;
    width: 100%;
    margin-bottom: 30px; }
  .radio-group--images .radio-button {
    width: 25%; }
    .radio-group--images .radio-button > * {
      display: flex;
      flex-flow: column;
      align-items: baseline;
      justify-content: flex-end; }
  @media (max-width: 1023px) {
    .radio-group--images {
      flex-flow: row;
      text-align: left;
      flex-wrap: wrap; }
      .radio-group--images .radio-button {
        width: 50%; } }
  @media (min-width: 769px) {
    .radio-group--images label {
      text-align: left;
      min-height: 300px; } }
  @media (max-width: 767px) {
    .radio-group--images label {
      margin: -2px; } }
  @media (min-width: 481px) {
    .radio-group--images label {
      padding: 30px; } }
  @media (max-width: 479px) {
    .radio-group--images label {
      padding: 15px; } }
  .radio-group--text label {
    padding: 15px 50px;
    width: 100%; }
  @media (max-width: 767px) {
    .radio-group--text {
      flex-flow: column;
      text-align: left; } }

.radio-button input[type="radio"] {
  display: none; }

.radio-button label {
  display: inline-block;
  margin: 0;
  background-color: #fff;
  border: 1px solid #CBD1DC;
  font-size: 1em;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.25s ease;
  overflow: hidden; }

.radio-button input[type="radio"]:checked + label {
  color: #0047FF;
  border: 1px solid #0047FF;
  box-shadow: inset 0 0 0 2px #0047FF; }

select {
  -webkit-appearance: none;
  background: url("../assets/images/downcaret.svg") no-repeat right #fff;
  background-position-x: 90%; }
  select:after {
    content: "Mug"; }

.table {
  display: table;
  width: 100%; }

.thead,
.trow {
  display: table-row;
  width: 100%; }

.thead {
  font-size: 14px;
  font-family: 'GT-Walsheim-Pro-Bold';
  text-align: left;
  text-transform: uppercase; }
  .thead div {
    display: table-cell;
    padding: 30px 0;
    border-top: 1px solid #CBD1DC;
    border-bottom: 1px solid #CBD1DC; }

.trow {
  position: relative; }
  .trow div:not(.broker-details) {
    display: table-cell;
    padding: 30px 0;
    border-bottom: 1px solid #F3F4F7; }
  .trow input {
    display: none; }
    .trow input:checked + label {
      display: block; }
      .trow input:checked + label ~ .broker-details {
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 30px;
        background-color: #F3F4F7;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }

.show-more label {
  color: #0047FF;
  cursor: pointer; }

.broker-details {
  display: none; }

.list {
  padding-right: 0;
  margin: 0;
  list-style-type: none; }
  .list li {
    position: relative; }
  .list--icon {
    padding-left: 0; }
    .list--icon li {
      display: flex;
      flex-direction: row; }
    .list--icon li + li {
      margin-top: 70px; }
    .list--icon h3 {
      margin-top: 0; }
    @media (max-width: 767px) {
      .list--icon li {
        flex-direction: column; }
      .list--icon h3 {
        margin-top: 30px; } }
    @media (max-width: 479px) {
      .list--icon {
        margin-left: 0; } }
  .list--bulleted li {
    counter-increment: step-counter; }
    .list--bulleted li + li {
      margin-top: 70px; }
    .list--bulleted li:before {
      content: "●";
      position: absolute;
      left: -50px;
      font-size: 25px;
      line-height: 20px;
      font-family: 'GT-Walsheim-Pro-Bold';
      color: #1F4097;
      padding: 3px 8px;
      border-radius: 3px; }
    @media (max-width: 479px) {
      .list--bulleted li:before {
        content: ""; } }
  .list--definition {
    list-style: none; }
    .list--definition .label {
      color: #A3ADC2; }
    .list--definition li {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .list--definition li + li {
      margin-top: 15px; }
    @media (min-width: 681px) {
      .list--definition {
        max-width: 50%; } }
  @media (max-width: 479px) {
    .list {
      margin-left: 0;
      padding: 0;
      margin: 0; } }

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: calc(100% - 20px);
  height: 80px;
  padding: 10px 30px 0 30px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.5s cubic-bezier(0.52, 0.01, 0.16, 1); }
  .header.hidden {
    transform: translate3d(0, -80px, 0); }
  .header:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100% - 11px);
    z-index: -1;
    background-color: #fff;
    border-top: 10px solid #0047FF; }
  @media (max-width: 767px) {
    .header {
      height: 50px;
      background-color: #0047FF;
      box-shadow: none; }
      .header:before {
        display: none; }
      .header .logo {
        color: #fff; }
      .header .navigation {
        display: none; } }

.header .resources {
  position: absolute;
  left: 0;
  top: 80px;
  z-index: -2;
  width: 100%;
  padding: 30px;
  background-color: #5A6987;
  opacity: 0;
  transform: translate3d(0, -400px, 0);
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  pointer-events: none;
  box-shadow: 0 0px 0px transparent; }
  .header .resources.open {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    pointer-events: auto;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25); }

.logo {
  font-family: 'GT-Walsheim-Pro-Bold'; }

.navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none; }
  .navigation li {
    margin-left: 40px; }
  .navigation li.separate-right {
    margin-right: 0px; }
    .navigation li.separate-right a, .navigation li.separate-right .show-more label, .show-more .navigation li.separate-right label {
      color: #A3ADC2; }
    .navigation li.separate-right:after {
      content: "|";
      color: #CBD1DC;
      margin-left: 40px; }

.faq-container {
  position: relative;
  padding: 30px;
  background-color: #F6F5F1;
  overflow: hidden; }
  .faq-container h6 {
    margin-top: 0; }
  @media (min-width: 1025px) {
    .faq-container {
      min-width: 300px;
      max-width: 300px; } }
  @media (max-width: 1023px) {
    .faq-container {
      min-width: none; } }
  @media (max-width: 479px) {
    .faq-container {
      width: 100%;
      max-width: none;
      min-width: none; } }

.faq:nth-child(1) {
  animation-delay: 0.05s; }
.faq:nth-child(2) {
  animation-delay: 0.1s; }
.faq:nth-child(3) {
  animation-delay: 0.15s; }
.faq:nth-child(4) {
  animation-delay: 0.2s; }
.faq:nth-child(5) {
  animation-delay: 0.25s; }
.faq:nth-child(6) {
  animation-delay: 0.3s; }
.faq:nth-child(7) {
  animation-delay: 0.35s; }
.faq:nth-child(8) {
  animation-delay: 0.4s; }
.faq:nth-child(9) {
  animation-delay: 0.45s; }
.faq:nth-child(10) {
  animation-delay: 0.5s; }
.faq:nth-child(11) {
  animation-delay: 0.55s; }
.faq:nth-child(12) {
  animation-delay: 0.6s; }
.faq:nth-child(13) {
  animation-delay: 0.65s; }
.faq:nth-child(14) {
  animation-delay: 0.7s; }
.faq:nth-child(15) {
  animation-delay: 0.75s; }
.faq:nth-child(16) {
  animation-delay: 0.8s; }
.faq:nth-child(17) {
  animation-delay: 0.85s; }
.faq:nth-child(18) {
  animation-delay: 0.9s; }
.faq:nth-child(19) {
  animation-delay: 0.95s; }
.faq:nth-child(20) {
  animation-delay: 1s; }
.faq:nth-child(21) {
  animation-delay: 1.05s; }
.faq:nth-child(22) {
  animation-delay: 1.1s; }
.faq:nth-child(23) {
  animation-delay: 1.15s; }
.faq:nth-child(24) {
  animation-delay: 1.2s; }
.faq:nth-child(25) {
  animation-delay: 1.25s; }
.faq:nth-child(26) {
  animation-delay: 1.3s; }
.faq:nth-child(27) {
  animation-delay: 1.35s; }
.faq:nth-child(28) {
  animation-delay: 1.4s; }
.faq:nth-child(29) {
  animation-delay: 1.45s; }
.faq:nth-child(30) {
  animation-delay: 1.5s; }
.faq:nth-child(31) {
  animation-delay: 1.55s; }
.faq:nth-child(32) {
  animation-delay: 1.6s; }
.faq:nth-child(33) {
  animation-delay: 1.65s; }
.faq:nth-child(34) {
  animation-delay: 1.7s; }
.faq:nth-child(35) {
  animation-delay: 1.75s; }
.faq:nth-child(36) {
  animation-delay: 1.8s; }
.faq:nth-child(37) {
  animation-delay: 1.85s; }
.faq:nth-child(38) {
  animation-delay: 1.9s; }
.faq:nth-child(39) {
  animation-delay: 1.95s; }
.faq:nth-child(40) {
  animation-delay: 2s; }
.faq:nth-child(41) {
  animation-delay: 2.05s; }
.faq:nth-child(42) {
  animation-delay: 2.1s; }
.faq:nth-child(43) {
  animation-delay: 2.15s; }
.faq:nth-child(44) {
  animation-delay: 2.2s; }
.faq:nth-child(45) {
  animation-delay: 2.25s; }
.faq:nth-child(46) {
  animation-delay: 2.3s; }
.faq:nth-child(47) {
  animation-delay: 2.35s; }
.faq:nth-child(48) {
  animation-delay: 2.4s; }
.faq:nth-child(49) {
  animation-delay: 2.45s; }
.faq:nth-child(50) {
  animation-delay: 2.5s; }
.faq .question,
.faq .answer {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px; }
.faq .answer {
  position: absolute;
  margin-top: 10px;
  transform: translateX(50px) scaleY(0);
  transition: transform 0.25s cubic-bezier(0.52, 0.01, 0.16, 1), opacity 0.25s cubic-bezier(0.52, 0.01, 0.16, 1) -0.1s;
  opacity: 0; }
.faq + .faq {
  margin-top: 20px; }
.faq input[type="checkbox"] {
  display: none; }
.faq label {
  display: block;
  background-color: #fff;
  padding: 10px 15px;
  margin-left: 0;
  font-size: 16px;
  color: #0047FF;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.52, 0.01, 0.16, 1); }

.faq input[type="checkbox"]:checked + label {
  color: #fff;
  background-color: #0047FF; }
  .faq input[type="checkbox"]:checked + label + .answer {
    position: static;
    display: block;
    transform: translateX(0px) scaleY(1);
    opacity: 1;
    transition: transform 0.25s cubic-bezier(0.52, 0.01, 0.16, 1), opacity 0.25s cubic-bezier(0.52, 0.01, 0.16, 1) 0.05s; }

.promo {
  display: flex;
  flex-flow: row;
  justify-content: space-between; }
  .promo--rate {
    flex-flow: row wrap;
    padding: 50px;
    border: 10px solid #F6F5F1; }
    .promo--rate .map-type {
      color: #F11E54;
      font-size: 0.8888888889em; }
    .promo--rate .rate,
    .promo--rate .arrow-icon {
      flex: 3 auto; }
    .promo--rate .rate-amt {
      font-size: 3.8888888889em;
      font-family: 'GT-Walsheim-Pro-Bold'; }
    .promo--rate .rate-amt:after {
      content: "Per year*";
      display: inline-block;
      width: 50px;
      margin-left: 15px;
      padding-left: 15px;
      font-size: 26px !important;
      font-family: 'GT-Walsheim-Pro-Medium';
      border-left: 1px solid black; }
    .promo--rate .arrow-icon {
      max-width: 50px;
      min-width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      margin-right: 50px;
      margin-top: 50px;
      border-radius: 50%;
      border: 1px solid #CBD1DC;
      transition: transform 0.3s cubic-bezier(0.52, 0.01, 0.16, 1); }
    .promo--rate p {
      flex: 1 auto;
      margin: 15px auto 5px auto;
      width: 100%;
      text-align: center; }
    .promo--rate p + p {
      margin-top: 0; }
    @media (max-width: 767px) {
      .promo--rate {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .promo--rate .rate-amt:after {
          width: 100px;
          margin-left: 15px;
          padding-left: 15px;
          vertical-align: middle;
          font-size: 20px !important; }
        .promo--rate .arrow-icon {
          margin-right: 0;
          margin-bottom: 30px;
          margin-top: 15px;
          transform: rotateZ(90deg); } }
    @media (max-width: 479px) {
      .promo--rate .rate-amt:after {
        margin: 0 auto;
        padding: 0;
        font-size: 16px !important;
        border-left: none; } }
  .promo--feature, .promo--final {
    align-items: center;
    padding: 30px;
    border: 10px solid rgba(0, 71, 255, 0.25); }
    .promo--feature p, .promo--final p {
      flex-grow: 1; }
    @media (max-width: 767px) {
      .promo--feature, .promo--final {
        flex-direction: column;
        align-items: stretch; } }
  .promo--final {
    background-color: #F6F5F1;
    border: none; }
  .promo--action {
    align-items: top;
    border: 10px solid #F3F4F7; }
    .promo--action h3 {
      margin-top: 0;
      margin-right: 30px; }
    .promo--action p {
      flex-grow: 1;
      margin-bottom: 0;
      margin-right: 30px; }
    .promo--action .action-number {
      padding: 3px 8px;
      margin-right: 50px;
      font-size: 5.5555555556em;
      line-height: 72px;
      font-family: 'GT-Walsheim-Pro-Bold';
      color: #1F4097;
      border-radius: 3px; }
    @media (max-width: 767px) {
      .promo--action p {
        margin-bottom: 30px; }
      .promo--action h3 {
        margin-top: 30px;
        margin-right: 0; } }
  .promo--signup {
    background-color: #F6F5F1; }
    @media (min-width: 769px) {
      .promo--signup h4 {
        margin-top: 0; } }
    @media (max-width: 767px) {
      .promo--signup .feature-icon {
        display: none; } }
  .promo--estimate {
    background-color: #c3f7d4; }
    .promo--estimate p {
      margin-right: 30px; }
  .promo--resiliency-profile {
    background-color: #0047FF; }
    .promo--resiliency-profile p {
      color: #fff; }
  .promo--warning {
    align-items: top;
    justify-content: flex-start;
    background-color: #fddee6; }
    .promo--warning span {
      color: #F11E54;
      font-size: 30px;
      margin-right: 30px; }
    @media (max-width: 679px) {
      .promo--warning span {
        margin-bottom: 30px;
        margin-right: 0px; } }
    .promo--warning p {
      margin: 0; }
  .promo .content-container {
    flex-grow: 2; }

.feature-icon {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 50px; }
  .feature-icon img {
    width: 100%; }

.button-field {
  display: flex;
  flex-direction: row; }
  .button-field input {
    flex-grow: 2; }
  .button-field button {
    margin-left: 15px; }

.in-profile, .promo--action, .promo--signup, .promo--resiliency-profile {
  padding: 50px; }
  @media (max-width: 767px) {
    .in-profile, .promo--action, .promo--signup, .promo--resiliency-profile {
      flex-direction: column;
      padding: 30px; }
      .in-profile .button-field, .promo--action .button-field, .promo--signup .button-field, .promo--resiliency-profile .button-field {
        flex-direction: column; }
      .in-profile p, .promo--action p, .promo--signup p, .promo--resiliency-profile p {
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 30px; } }
@media (min-width: 480px) and (max-width: 767px) {
  .in-profile button, .promo--action button, .promo--signup button, .promo--resiliency-profile button {
    margin-left: 0; } }

  @media (max-width: 479px) {
    .in-profile, .promo--action, .promo--signup, .promo--resiliency-profile {
      padding: 30px; }
      .in-profile button, .promo--action button, .promo--signup button, .promo--resiliency-profile button {
        margin-top: 0px;
        margin-left: 0; } }

.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: none !important;
  width: 100%;
  z-index: 999;
  justify-content: space-around; }

.main-well, .promo--estimate, .promo--warning {
  padding: 30px; }
  @media (max-width: 767px) {
    .main-well, .promo--estimate, .promo--warning {
      flex-direction: column;
      padding: 30px; }
      .main-well p, .promo--estimate p, .promo--warning p {
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 30px; } }

.cards {
  display: flex;
  flex-direction: row; }
  .cards .card {
    padding: 30px;
    border: 10px solid #F3F4F7; }
  .cards p {
    margin-bottom: 0; }
  @media (min-width: 1025px) {
    .cards .card + .card {
      margin-left: 30px; } }
@media (min-width: 481px) and (max-width: 1024px) {
  .cards {
    flex-direction: column;
    padding: 0px; }
    .cards .card {
      display: flex;
      flex-direction: row;
      max-width: none;
      margin-bottom: 30px; }
    .cards img {
      flex-shrink: 0;
      margin-right: 30px; }
    .cards h3 {
      margin-top: 0; } }

  @media (max-width: 480px) {
    .cards {
      flex-direction: column;
      padding: 0px; }
      .cards .card {
        display: flex;
        flex-direction: column;
        max-width: none;
        margin-right: 0;
        padding: 30px;
        margin-bottom: 15px; }
      .cards img {
        margin-bottom: 15px; } }

.resources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  @media (max-width: 1023px) {
    .resources {
      flex-wrap: wrap; } }
  @media (max-width: 680px) {
    .resources {
      flex-direction: column; } }

.resource {
  width: 25%;
  padding: 50px;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.25s cubic-bezier(0.52, 0.01, 0.16, 1);
  cursor: pointer; }
  .resource:hover {
    box-shadow: inset 0 0 0 10px #0047FF; }
    .resource:hover h4 {
      color: #0047FF;
      transition: color 0.25s cubic-bezier(0.52, 0.01, 0.16, 1); }
  .resource a, .resource .show-more label, .show-more .resource label {
    display: block;
    color: inherit;
    text-decoration: none; }
  .resource a h4, .resource .show-more label h4, .show-more .resource label h4 {
    margin-bottom: 0; }
  @media (min-width: 1025px) {
    .resource + .resource {
      margin-left: 30px; } }
  @media (max-width: 1024px) {
    .resource {
      display: flex;
      flex-direction: row;
      text-align: left; }
      .resource img {
        width: 70px;
        height: 70px;
        flex-shrink: 0; }
      .resource p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30px; } }
  @media (max-width: 768px) {
    .resource {
      padding: 30px;
      text-align: left; } }
@media (min-width: 681px) and (max-width: 1024px) {
  .resource {
    width: calc(50% - 15px); }
    .resource:nth-child(2n) {
      margin-left: 30px; }
    .resource:nth-child(1), .resource:nth-child(2) {
      margin-bottom: 30px; } }

  @media (max-width: 680px) {
    .resource {
      width: 100%;
      margin-bottom: 15px; } }

.modal-container:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(40, 48, 61, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.52, 0.01, 0.16, 1); }
.modal-container:hover:before {
  opacity: 1; }
.modal-container:hover .modal {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  transition: all 0.25s cubic-bezier(0.52, 0.01, 0.16, 1) 0.25s; }
.modal-container:hover .success-icon {
  animation: pop-in 0.5s cubic-bezier(0.52, 0.01, 0.16, 1) 0.25s; }

.modal {
  position: relative;
  display: inline-block;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: all 0.25s cubic-bezier(0.52, 0.01, 0.16, 1); }
  @media (min-width: 680px) {
    .modal {
      width: 560px;
      padding: 100px; } }
  @media (max-width: 679px) {
    .modal {
      width: 100%;
      padding: 50px; } }
  .modal .close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 24px;
    color: #7B8AA7; }
  .modal .success-icon {
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  .modal input[type="text"], .modal select {
    width: 100%; }
  .modal h4 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center; }
  .modal button {
    width: 100%;
    margin-top: 50px; }

.signpost-container {
  min-width: 240px;
  max-width: 240px;
  padding: 30px;
  border-right: 1px solid #F3F4F7; }
  @media (max-width: 767px) {
    .signpost-container {
      display: none; } }

.signpost {
  font-size: 16px;
  line-height: 40px; }
  .signpost li {
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    transition: color 0.25s cubic-bezier(0.52, 0.01, 0.16, 1) 0.25s; }
    .signpost li span {
      position: relative;
      z-index: 1; }
    .signpost li:after {
      transform: translate3d(0, 40px, 0);
      z-index: 0; }
    .signpost li:not(.active):after {
      transition-delay: .05s; }
    .signpost li + .active:after {
      transform: translate3d(0, -40px, 0); }
  .signpost li.active {
    font-weight: bold; }
    .signpost li.active:after {
      transform: translate3d(0, 0px, 0); }
    .signpost li.active + li:after {
      opacity: 0;
      transform: translate3d(0, -40px, 0);
      transition: transform 0.5s cubic-bezier(0.52, 0.01, 0.16, 1) 0.05s, opacity 0s cubic-bezier(0.52, 0.01, 0.16, 1) 0.5s; }
    .signpost li.active + li + li:after {
      opacity: 0; }

.sp-indicator:after, .signpost li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: #F6F5F1;
  transition: transform 0.5s cubic-bezier(0.52, 0.01, 0.16, 1), opacity 0s cubic-bezier(0.52, 0.01, 0.16, 1); }

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #0047FF;
  overflow: hidden; }
@keyframes moveWave {
  0% {
    transform: translate3d(-3px, 0, 0); }
  100% {
    transform: translate3d(-87px, 0, 0); } }
  .loader img {
    margin-top: 2px;
    animation: moveWave 1s linear infinite; }

@keyframes bob {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(-10deg); }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(10deg); }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(-10deg); } }
.buoy img {
  width: 80px;
  transform-origin: center 90%;
  animation: bob 3s ease-in-out infinite; }

.success-icon {
  display: inline-block;
  font-size: 60px;
  color: #1BD357;
  transform-origin: 50% 50%; }
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.25); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: scale(1); } }
@font-face {
  font-family: "GT-Walsheim-Pro-Light";
  src: url("fonts/GT-Walsheim-Pro-Light.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Light.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Light.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Light.svg#GT-Walsheim-Pro-Light") format("svg"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Medium";
  src: url("fonts/GT-Walsheim-Pro-Medium.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Medium.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Medium.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Medium.svg#GT-Walsheim-Pro-Medium") format("svg"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("fonts/GT-Walsheim-Pro-Bold.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Bold.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Bold.svg#GT-Walsheim-Pro-Bold") format("svg"); }
@font-face {
  font-family: "Linearicons-free";
  src: url("fonts/Linearicons-free.eot?") format("eot"), url("fonts/Linearicons-free.woff") format("woff"), url("fonts/Linearicons-free.ttf") format("truetype"), url("fonts/Linearicons-free.svg#Linearicons-free") format("svg"); }
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  font-family: 'GT-Walsheim-Pro-Light';
  font-size: 20px; }
  @media (max-width: 1023px) {
    body {
      font-size: 18px; } }
  @media (max-width: 767px) {
    body {
      font-size: 16px; } }

.container {
  height: inherit;
  padding: 50px;
  margin-left: 240px; }
  @media (max-width: 1023px) {
    .container {
      margin-left: 0px;
      padding: 0; } }

.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 240px;
  padding: 30px;
  color: #585858;
  font-size: 16px;
  background-color: #000; }
  .side-bar .logo span {
    color: #fff; }
  .side-bar .nav {
    padding-left: 20px; }
  .side-bar .nav a, .side-bar .nav .show-more label, .show-more .side-bar .nav label {
    color: inherit;
    line-height: 40px;
    text-decoration: none; }
    .side-bar .nav a:target, .side-bar .nav .show-more label:target, .show-more .side-bar .nav label:target {
      color: #fff; }
  @media (max-width: 1023px) {
    .side-bar {
      transform: translate3d(-240px, 0, 0); } }

section {
  padding: 50px 0; }

.border-wrap {
  position: relative;
  padding: 50px 30px 30px 30px;
  margin-top: 50px;
  border: 1px solid #eee;
  background-color: #fff; }
  .border-wrap:before {
    position: absolute;
    content: attr(data-type);
    top: -20px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #eee; }
  .border-wrap--dark {
    background-color: #5A6987;
    border: none; }
    .border-wrap--dark:before {
      color: #fff;
      border: none;
      background-color: #5A6987; }
