img.zoomable {
  cursor: zoom-in;
}

img.zoomed {
  padding: 30px;
  margin: 0 auto;
  cursor: zoom-out;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-overlay {
  position: relative;
  right: -100%;
  position: fixed;
  top: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, right 0s linear 0.3s;
  -moz-transition: opacity 0.3s ease, right 0s linear 0.3s;
  transition: opacity 0.3s ease, right 0s linear 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.image-overlay.display {
  right: 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.image-overlay.display img{
  right: 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.image-overlay img {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width:auto;
  height:auto;
  max-width:100%;
  max-height:90%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}