@mixin button($color, $solid: false, $ghost: false) {
	@if $solid {
		color: #fff;
	  background-color: $color;
		border: none;
	  &:hover {
	    background-color: darken($color, 5%);
	  }
	}
	@if $ghost {
		border: 1px solid $color;
		color: $color;
		background-color: #fff;

		&:hover {
	    border: 1px solid darken($color, 5%);
			color: darken($color, 5%);
	  }
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px lighten($color, 30%);
	}
}

.btn {
  display: inline-block;
	font-family: 'GT-Walsheim-Pro-Light', 'Helvetica Neue';
  border-radius: $borderradius;
  text-align: center;
  cursor: pointer;
	white-space: nowrap;
	transition: background-color 0.25s ease;

  &--secondary {
    @include button($secondary-accent, $solid: true);
  }

  &--main {
    @include button($main-accent, $solid: true);
  }

	&--main--ghost {
    @include button($main-accent, $ghost: true);
  }

	&--confirm {
    @include button($confirm-accent, $solid: true);
  }

	&--confirm--ghost {
    @include button($confirm-accent, $ghost: true);
  }

  &--small {
    padding: 0px 25px;
    height: 40px;
		line-height: 40px;
		font-size: em(16);
  }

	&--big {
    padding: 0px 40px;
    height: 60px;
		line-height: 60px;
		font-size: em(18);
  }
}
