.colors {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	@extend .no-list;

	li {
		border-collapse: collapse;
		margin-bottom: 30px;
		margin-right: 15px;

		.color-block {
			width: 120px;
			height: 120px;
			margin-bottom: 15px;
		}

		.color-title,
		.color-hex {
			display: block;
		}

		.color-title {
			font-weight: bold;
		}

		.color-hex {
			color: #999;
		}
	}
}
