input[type="text"] {
  display: block;
  height: 60px;
  padding: 0 15px;
  border: 1px solid map-get($grayscale, 2);
  border-radius: $borderradius;
  background-color: #fff;
  font: inherit;
  outline: none;
  transition: all 0.25s ease;
  -webkit-appearance: none;

  &:focus {
    border: 1px solid $main-accent;
    box-shadow: inset 0 0 0 1px $main-accent;
  }

  &:invalid {
    border: 1px solid $pinkberry;
  }

  &:disabled {
    border: 1px solid map-get($grayscale, 2);
    cursor: not-allowed;
  }

  @include media(">tablet") {
    min-width: 300px;
  }

  @include media("<tablet") {
    min-width: none;
    width: 100%;

    & + button {
      margin-top: 15px;
    }
  }

  & + label {
    margin-top: 30px;
  }
}

.input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.checkbox-group {

  input[type="checkbox"] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid map-get($grayscale, 2);
    transition: background-color 0.25s ease;
  }

  input[type="checkbox"]:focus {
    outline: none;
    border: 1px solid $main-accent;
    box-shadow: 0 0 0 1px lighten($main-accent, 20%);
  }

  input[type="checkbox"] + label {
    position: relative;
    margin-left: 15px;
    line-height: 45px;
    vertical-align: bottom;
  }

  input[type="checkbox"]:checked {
    background-color: $main-accent;
    border: 1px solid $main-accent;

    & + label:before {
      content: "✓";
      position: absolute;
      left: -42px;
      top: -8px;
      color: #fff;
      pointer-events: none;
    }
  }
}

.radio-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 16px;

  &--images {

    img {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }

    .radio-button {
      width: 25%;

      & > * {
        display: flex;
        flex-flow: column;
        align-items: baseline;
        justify-content: flex-end;
      }
    }

    @include media("<tablet") {
      flex-flow: row;
      text-align: left;
      flex-wrap: wrap;

      .radio-button {
        width: 50%;
      }
    }

    label {
      @include media(">tablet") {
        text-align: left;
        min-height: 300px;
      }
      @include media("<tablet") {
        margin: -2px;
      }
      @include media(">phone") {
        padding: 30px;
      }
      @include media("<phone") {
        padding: 15px;
      }
    }
  }

  &--text {

    label {
      padding: 15px 50px;
      width: 100%;
    }

    @include media("<tablet") {
      flex-flow: column;
      text-align: center;
    }
  }
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  display: inline-block;
  margin: 0;
  background-color: #fff;
  border: 1px solid map-get($grayscale, 2);
  font-size: em(18);
  font-weight: 500;
  border-radius: $borderradius;
  transition: all 0.25s ease;
  overflow: hidden;
}

.radio-button input[type="radio"]:checked + label {
  color: $main-accent;
  border: 1px solid $main-accent;
  box-shadow: inset 0 0 0 2px $main-accent;
}

select {
  -webkit-appearance: none;
  background: url('../assets/images/downcaret.svg') no-repeat right #fff;
  background-position-x: 90%;
  @extend input[type="text"];

  &:after {
    content:"Mug";
  }
}
