
.wrapper {
	padding-top: 80px;

	&.blue-border {
	  border-left: 10px solid $main-accent;
	  border-right: 10px solid $main-accent;
	  height: auto;
	}
}

.wrapper.question-wrapper {
	height: 100%;
	overflow: hidden;

	.container-rail {
		height: 100%;
	}

	@include media("<tablet") {
		overflow: auto;

		.container-rail {
			height: auto;
		}
	}
}

.sub-section {
	border-bottom: 1px solid map-get($grayscale, 2);
	padding-bottom: 50px;

	& + .sub-section {
		padding-top: 50px;
	}

	.cards {
		margin-top: 50px;
	}
}

.container-rail {
	display: flex;
	flex-direction: row;

	@include media("<tablet") {
		flex-direction: column;
	}
}

.content {
	width: 100%;
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 50px;

	@include media("<tablet") {
		padding: 30px;
	}
}

//question flow demo

.question-container {
	width: 100%;

	.question {
		display: none;
	}

	.question:first-child {
		display: block;
	}

	.radio-group {
		animation-delay: .05s;
	}

	@include media(">=tablet") {
		padding: 50px 50px 200px 50px;
		overflow-y: scroll;
	}

	@include media("<tablet") {
		padding: 30px;
		overflow-y: auto;
	}
}

.button-footer {
	position: fixed;
	z-index: 99;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	bottom: 0;
	padding: 20px 0px;
	background-color: #fff;
	border-top: 1px solid map-get($grayscale, 1);

	@include media(">=tablet") {
		width: calc(100% - 640px);
	}

	@include media("<tablet") {
		left: 0;
		width: 100%;
		padding: 10px;
	}
}
