.list {
  padding-right: 0;
  margin: 0;
  list-style-type: none;

  li{
  	position: relative;
  }

	&--icon {
    padding-left: 0;

    li {
      display: flex;
      flex-direction: row;
    }

		li + li {
			margin-top: 70px;
		}

    h3 {
      margin-top: 0;
    }

    @include media("<tablet") {
      li {
        flex-direction: column;
      }

      h3 {
        margin-top: 30px;
      }
    }

    @include media("<phone") {
      margin-left: 0;
    }
	}

	&--bulleted li {
		counter-increment: step-counter;

		& + li {
			margin-top: 70px;
		}

		&:before {
			content: "â—";
			position: absolute;
			left: -50px;
			font-size: 25px;
			line-height: 20px;
			font-family: 'GT-Walsheim-Pro-Bold';
			color: $deepblue;
			padding: 3px 8px;
			border-radius: 3px;
 	 	}

    @include media("<phone") {
      &:before {
        content: "";
      }
    }
	}

	&--definition {
		list-style: none;
		@extend .no-list;

		.label {
			color: map-get($grayscale, 3);
		}

		li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		li + li {
			margin-top: 15px;
		}

    @include media(">phone-landscape") {
      max-width: 50%;
    }
	}

  @include media("<phone") {
    margin-left: 0;
    padding: 0;
    margin: 0;
  }
}
