.loader {
	width: 50px;
	height: 50px;
	border: 5px solid $main-accent;
	overflow: hidden;

	@keyframes moveWave {
		0% {
			transform: translate3d(-3px, 0, 0);
		}
		100% {
			transform: translate3d(-87px, 0, 0);
		}
	}

	img {
		margin-top: 2px;
		animation: moveWave 1s linear infinite;
	}
}

.buoy {

	@keyframes bob {
		0% {
			transform: translate3d(0,0,0) rotateZ(-10deg);
		}
		50% {
			transform: translate3d(0,0,0) rotateZ(10deg);
		}
		100% {
			transform: translate3d(0,0,0) rotateZ(-10deg);
		}
	}

	img{
		width: 80px;
		transform-origin: center 90%;
		animation: bob 3s ease-in-out infinite;
	}
}

.success-icon {
	display: inline-block;
	font-size: 60px;
	color: $confirm-accent;
	transform-origin: 50% 50%;

	@keyframes pop-in {
		0% {
			opacity: 0;
			transform: scale(.25);
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}
