// Styles for FAQ Module

.faq-wrapper {
	position: relative;
	width: 330px;
	padding: 30px;
	background-color: $beachbeige;
	overflow: hidden;

	@include media("<phone") {
		width: 100%;
	}
}

.faq {
	.question,
	.answer {
		background-color: #fff;
		padding: 10px 15px;
		border-radius: $borderradius;
		font-size: 16px;
	}

	.answer {
		position: absolute;
		margin-top: 10px;
		transform: translateX(50px) scaleY(0);
		transition: transform 0.25s $ease, opacity 0.25s $ease -.1s;
		opacity: 0;
	}

	& + .faq {
		margin-top: 20px;
	}

	input[type="checkbox"] {
	  display: none;
	}

	label {
		display: block;
	  background-color: #fff;
	  padding: 10px 15px;
		margin-left: 0;
		font-size: 16px;
		color: $main-accent;
	  border-radius: $borderradius;
	  overflow: hidden;
	  cursor: pointer;
		transition: all 0.25s $ease;
	}
}

.faq input[type="checkbox"]:checked + label {
  color: #fff;
  background-color: $main-accent;

	& + .answer {
		position: static;
		display: block;
		transform: translateX(0px) scaleY(1);
		opacity: 1;
		transition: transform 0.25s $ease, opacity 0.25s $ease .05s;
	}
}


// Promos

.promo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  &--feature {
    align-items: center;
    padding: 30px;
    border: 10px solid map-get($grayscale, 2);

    p {
      flex-grow: 1;
    }

		@include media("<tablet") {
			flex-direction: column;
			align-items: stretch;
		}
  }

  &--action {
    align-items: top;
    border: 10px solid map-get($grayscale, 1);
		@extend .in-profile;

    h3 {
      margin-top: 0;
    }

    p {
      flex-grow: 1;
      margin-bottom: 0;
      margin-right: 30px;
    }

		@include media("<tablet") {
			p {
				margin-bottom: 30px;
			}
			h3 {
				margin-top: 30px;
			}
		}
  }

  &--signup {
    background-color: $beachbeige;
    @extend .in-profile;

    p {
      margin-top: 0;
    }
  }

  &--estimate {
    background-color: lighten($confirm-accent, 40%);
    @extend .main-well;

    p {
      margin-right: 30px;
    }
  }

  &--resiliency-profile {
    background-color: $main-accent;
    @extend .in-profile;

    p {
      color: #fff;
    }
  }

  &--warning {
    align-items: top;
    background-color: lighten($pinkberry, 40%);
    @extend .main-well;

    span {
      color: $pinkberry;
      margin-right: 30px;
    }

    p {
      margin: 0;
    }
  }

  .content-container {
    flex-grow: 2;
  }
}

.feature-icon {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 50px;
  @extend ._circle-img;

  img {
    width: 100%;
  }
}

.button-field {
  display: flex;
  flex-direction: row;

  input {
    flex-grow: 2;
  }

  button {
    margin-left: 15px;
  }
}

//Promo sizes

.in-profile {
  max-width: 900px;
  padding: 50px;

	@include media("<tablet") {
		flex-direction: column;
		padding: 30px;

		.button-field {
			flex-direction: column;
		}

		p {
			margin-right: 0px;
			margin-top: 0;
			margin-bottom: 30px;
		}
	}

	@include media(">=phone", "<tablet") {
		button {
			margin-left: 0;
		}
	}

	@include media("<phone") {
		padding: 30px;

		button {
			margin-top: 0px;
			margin-left: 0;
		}
	}
}

.main-well {
  max-width: 900px;
  padding: 30px;

	@include media("<tablet") {
		flex-direction: column;
		padding: 30px;

		p {
			margin-right: 0px;
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
}

// Cards

.cards {
  display: flex;
  flex-direction: row;

  .card {
    max-width: 280px;
    margin-right: 30px;
    padding: 30px;
    border: 10px solid map-get($grayscale, 1);
  }

	img {
		@extend ._circle-img;
	}

  p {
    margin-bottom: 0;
  }

	@include media(">phone", "<=desktop") {
		flex-direction: column;
		padding: 0px;

		.card {
			display: flex;
			flex-direction: row;
			max-width: none;
			margin-right: 0;
			margin-bottom: 30px;
		}

		img {
			flex-shrink: 0;
			margin-right: 30px;
		}

		h3 {
			margin-top: 0;
		}
	}

	@include media('<=phone') {
		flex-direction: column;
		padding: 0px;

		.card {
			display: flex;
			flex-direction: column;
			max-width: none;
			margin-right: 0;
			padding: 30px;
			margin-bottom: 15px;
		}

		img {
			margin-bottom: 15px;
		}
	}
}

.resources {
	display: flex;
	flex-direction: row;
	justify-content: space-between;;
	width: 100%;

	@include media("<desktop") {
		flex-wrap: wrap;
		// flex-grow: 2;
	}
	@include media("<=680px") {
		flex-direction: column;
	}
}

.resource {
	width: 25%;
	padding: 50px;
	text-align: center;
	background-color: #fff;
	transition: box-shadow 0.25s $ease;
	cursor: pointer;

	&:hover {
		box-shadow: inset 0 0 0 10px $main-accent;

		.notification-text {
			color: $main-accent;
		}
	}

	a {
		display: block;
	}

	img {
		@extend ._circle-img;
	}

	@include media(">desktop") {
		& + .resource {
			margin-left: 30px;
		}
	}
	@include media("<=desktop") {
		display: flex;
		flex-direction: row;
		text-align: left;

		img {
			width: 70px;
			height: 70px;
			flex-shrink: 0;
		}

		p {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 30px;
		}
	}

	@include media("<=tablet") {
		padding: 30px;
		text-align: left;
	}

	@include media(">phone-landscape", "<=desktop") {
		width: calc(50% - 15px);

		&:nth-child(2n) {
			margin-left: 30px;
		}
		&:nth-child(1),&:nth-child(2) {
			margin-bottom: 30px;
		}
	}

	@include media("<=680px") {
		width: 100%;
		margin-bottom: 15px;
	}
}
