// Header and Navigation

.header {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	width: calc(100% - 20px);
	height: 80px;
	padding: 10px 30px 0 30px;
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	transition: transform .5s $ease;

	&.hidden {
		transform: translate3d(0, -80px, 0);
	}

	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: calc(100% - 11px);
		z-index: -1;
		background-color: #fff;
		border-top: 10px solid $main-accent;
	}

	@include media("<tablet") {
		height: 50px;
		background-color: $main-accent;
		box-shadow: none;

		&:before {
			display: none;
		}

		.logo {
			color: #fff;
		}

		.navigation {
			display: none;
		}
	}
}

.header .resources {
	position: absolute;
	left:0;
	top: 80px;
	z-index: -2;
	width: 100%;
	padding: 30px;
	background-color: map-get($grayscale, 5);
	opacity: 0;
	transform: translate3d(0,-400px,0);
	transition: all .25s $hard;
	pointer-events: none;
	box-shadow: 0 0px 0px rgba(0,0,0,0);

	&.open {
		opacity: 1;
		transform: translate3d(0,0px,0);
		pointer-events: auto;
		box-shadow: 0 10px 50px rgba(0,0,0,.25);
	}
}

.logo {
	font-family: 'GT-Walsheim-Pro-Bold';
}

.navigation {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-left: 40px;
	}

  li.separate-right {
    margin-right: 0px;

    a {
      color: map-get($grayscale, 3);
    }

    &:after {
      content:"|";
      color: map-get($grayscale, 2);
      margin-left: 40px;
    }
  }
}
