// Header and Navigation

.header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	width: 100%;
	height: 80px;
	padding: 0 30px;
	background-color: #fff;
	border-bottom: 1px solid map-get($grayscale, 2);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 1px);
		z-index: -1;
		background-color: #fff;
	}
}

.header .resources {
	position: absolute;
	left:0;
	top: 80px;
	z-index: -2;
	width: 100%;
	padding: 30px;
	background-color: map-get($grayscale, 5);
	opacity: 0;
	transform: translate3d(0,-80px,0);
	transition: all .25s $ease;
	pointer-events: none;
	box-shadow: 0 0px 0px rgba(0,0,0,0);

	&.open {
		opacity: 1;
		transform: translate3d(0,0px,0);
		pointer-events: auto;
		box-shadow: 0 10px 50px rgba(0,0,0,.25);
	}
}

.logo {
	font-family: 'GT-Walsheim-Pro-Bold';
}

.navigation {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-left: 40px;
	}

  li.separate-right {
    margin-right: 0px;

    a {
      color: map-get($grayscale, 3);
    }

    &:after {
      content:"|";
      color: map-get($grayscale, 2);
      margin-left: 40px;
    }
  }
}
