h1,h2,h3,h4 {
  font-weight: normal;
}

h1 {
  font-size: em(100);
  font-family: 'GT-Walsheim-Pro-Bold';
  color: $main-accent;
  line-height: 110%;
  // animation: wavy 3s ease infinite;
}

@keyframes wavy {
  0% {
    transform: skewX(2deg) skewY(-2deg) scaleX(1) scaleY(0.95);
  }
  50% {
    transform: skewX(-2deg) skewY(2deg) scaleX(0.95) scaleY(1) ;
  }
  100% {
    transform: skewX(2deg) skewY(-2deg) scaleX(1) scaleY(0.95);
  }
}

h2 {
  font-size: em(50);
  font-family: 'GT-Walsheim-Pro-Medium';
}

h3 {
  font-size: em(30);
  font-family: 'GT-Walsheim-Pro-Medium';
}

h4 {
  font-size: em(24);
  font-family: 'GT-Walsheim-Pro-Medium';
}

h5 {
  font-size: em(18);
  font-family: 'GT-Walsheim-Pro-Bold';
  text-transform: uppercase;
}

h6 {
  font-family: 'GT-Walsheim-Pro-Medium';
  font-size: 14px;
  color: map-get($grayscale, 6);
  text-transform: uppercase;
}

p {
  font-size: 20px;
  max-width: 640px;
  color: map-get($grayscale, 6);

  &.sub-heading {
    max-width: 900px;
    font-family: 'GT-Walsheim-Pro-Light';
    font-size: em(30);
    color: map-get($grayscale, 5);
  }

  &.detail {
    font-size: 18px;
    max-width: 900px;
    color: map-get($grayscale, 4);
  }

  &.micro {
    font-size: 16px;
    color: map-get($grayscale, 4);
  }
}

p b {
  font-weight: normal;
  font-family: 'GT-Walsheim-Pro-Medium';
  color: map-get($grayscale, 6);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $main-accent;
  transition: all 0.25s ease;

  &:hover {
    text-decoration: underline;
  }
}

a.green-link {
  color: $confirm-accent;
}

a.nav-link {
  font-family: 'GT-Walsheim-Pro-Medium';
  font-size: 18px;
  color: map-get($grayscale, 5);

  &--border {
    position: relative;

    &:hover:before {
      opacity: 1;
    }

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -20px;
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      border: 1px solid $main-accent;
      border-radius: $borderradius;
      opacity: 0;
      transition: opacity 0.25s ease;
    }
  }

  &:hover {
    color: $main-accent;
    text-decoration: none;
  }
}
