$beachbeige: #F6F5F1;
$resilientblue: #0047FF;
$deepblue: #1F4097;
$sourapple: #1BD357;
$pinkberry: #F11E54;

$grayscale: (
  1: #F3F4F7,
  2: #CBD1DC,
  3: #A3ADC2,
  4: #7B8AA7,
  5: #5A6987,
  6: #3F4A5F,
  7: #252B37
);

$main-accent: $resilientblue;
$secondary-accent: map-get($grayscale, 2);
$confirm-accent: $sourapple;

$borderradius: 3px;

$easing: cubic-bezier(0.52, 0.01, 0.16, 1);
$ease: cubic-bezier(0.52, 0.01, 0.16, 1);

$breakpoints: (phone: 480px,
               tablet: 768px,
               desktop: 1024px) !default;

$browser-context: 18;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
